*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;;
}
img{
    width: 100%;
}
#app{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        var(--green) 0%,
        var(--green) 20vh,
        var(--gray) 20vh,
        var(--gray) 100%
    );
}
/* Utilities */
:root{
    --green: rgb(32 168 133);
    --gray: rgb(234 234 234);
    --sent: rgb(219 253 212);
    --notification: rgb(150 220 250);
    --keyboard: rgb(243 238 234);
}
.container{
    width: 80%;
    min-width: 967px;
    height: 80vh;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1px;
}
.avatar{
    width: 50px;
    border-radius: 50px;
}
span{
    color: gray;
}
.hover{
    background-color:lightgray;
}
.sr-only {
    display: none;
}
/* SIDE BAR */
.side-bar{
    width: 35%;
    background-color: white;
    border: 1px solid black;
}
.header{
    background-color: var(--gray);
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user{
    display: flex;
    align-items: center;
}
.icon i{
    color: gray;
    font-size: 1.3em;
    margin: .3rem;
    cursor: pointer;
}
/* Notification */
.notification{
    padding: .8em;
    display: flex;
    align-items: center;
    background-color: var(--notification);
}
.notification i{
    font-size: 1.3rem;
    background-color: white;
    color: var(--notification);
    padding: .5em;
    border-radius: 60%;
}
.notification a{
    font-size: .9em;
    color: gray;
}
.text-noti{
    padding-left: 3em;
    display: flex;
    flex-direction: column;
}
/* Search */
.search {
    padding: .5em;
    width: 90%;
    margin: auto;
    display: flex;
}
.search label {
    background-color: white;
    padding: .5rem .8rem;
    border-color: gray;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-radius: 5px 0px 0px 5px;
}
.search input {
    background-color: white;
    flex-grow: 1;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    border-radius: 0px 5px 5px 0px;
}
/* Contact list */
.contact-list{
    overflow-y: scroll;
    background-color: var(--);
}
.contact{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
}
/* Message */
.main-chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    background-image: url("../img/mine.jpg");
    border: 1px solid black;
}
.keyboard{
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:var(--keyboard);
}
.keyboard.icon{
    width: 15%;
}
.message {
    display: flex;
    padding: .5rem 1rem;
}
.message-box {
    background-color: white;
    min-width: 250px;
    max-width: 60%;
    padding: .5rem;
    border-radius: 10px;
}
.sent {
    justify-content: flex-end;
}
.received {
    justify-content: flex-start;
}
.sent .message-box {
    background-color: var(--sent);
}
.received .message-box {
    background-color: white;
}
.new-message {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-message input {
    width: 100%;
    padding: .6rem .3rem;
}