*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;;
}
#app{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        var(--green) 0%,
        var(--green) 15vh,
        var(--gray) 15vh,
        var(--gray) 100%
    );
}
img{
    max-width: 975px;
    width: 50px;
    border-radius: 50px;
}
i{
    font-size: 1.2em;
    cursor: pointer;
    color: gray;
}
:root{
    --green: rgb(32 168 133);
    --gray: rgb(234 234 234);
    --sent: rgb(219 253 212);
    --notification: rgb(150 220 250);
    --keyboard: rgb(243 238 234);
}
.wrapper{
    width: 100vw;
    height: 100vh;
}
.window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 80%;
    min-width: 967px;
    height: 80vh;
}
.container{
    display: flex;
    gap: 1px;
}
.side-bar{
    width: calc(100% / 2 );
    background-color: white;
    border: 1px solid black;
}
.top-side{
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray);
}
.left-side{
    display: flex;
    align-items: center;
}
.hover{
    background-color:lightgray;
}
.icon{
    display: flex;
}
.icon i{
    margin: 5px;
}
.notification{
    padding: .8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--notification);
}
.notification i{
    font-size: 1.3rem;
    background-color: white;
    color: var(--notification);
    padding: .5em;
    border-radius: 60%;
}
.notification a{
    font-size: .9em;
    color: gray;
}
.notification .text-noti{
    display: flex;
    flex-direction: column;
}
.search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .3em;
}
.search input{
    padding: .7em 5.4em;
    border: 1px solid lightgray;
}
.search i{
    margin-right: 2px;
    padding: .4em 1em;
    border: 1px solid lightgray;
}
.side-chat{
    display: flex;
    align-items: center;
    padding: .5em 1em;
    border-bottom: 1px solid lightgray;
    justify-content: space-around;
}
p{
    font-size: .9em;
    color: gray;
}
/* Chat */
.chat{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(../img/mine.jpg);
    /* DEBUG */
    border: 1px solid black;
}
.left-chat{
    display: flex;
    align-items: center;
}
.header-chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    background-color: var(--gray);
}
/* Tastiera */
.keyboard{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--keyboard);
}
.keyboard i{
    font-size: 1.5em;
    padding: 3em;
}
.keyboard input{
    padding: .5em 20em;
}
/* MESSAGE */
.messages-section {
    flex-grow: 1;
    width: 100%;
    background-image: url("../img/mine.jpg");
    padding-top: 2rem;
}

.message {
    display: flex;
    padding: .5rem 1rem;
}

.sent {
    justify-content: flex-end;
}

.recieved {
    justify-content: flex-start;
}

.message-box {
    background-color: white;
    min-width: 250px;
    max-width: 60%;
    padding: .5rem;
    border-radius: 10px;
}

.sent .message-box {
    background-color: var(--sent);
}

.recieved .message-box {
    background-color: white;
}

.message-time {
    text-align: right;
    font-size: .6rem;
}
/* Nuovo messaggio */

.new-message {
    height: 70px;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-message-input {
    width: 70%;
}

.new-message-input input {
    width: 100%;
    padding: .6rem .3rem;
}