<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Vue -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.global.min.js"></script>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="side-bar">
                <!-- Header bar -->
                <div class="header">
                    <div class="user">
                        <img class="avatar" src="img/avatar_io.jpg" alt="">
                        <p>Sofia</p>
                    </div>
                    <div class="icon">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- Notification -->
                <div class="notification">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div class="text-noti">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- Search -->
                <section class="search-section">
                    <div class="search">
                      <label for="search-input">
                        <span class="sr-only">Inizia la ricerca</span>
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </label>
                      <input type="text" id="search-input" @keyup="filterContacts"/>
                    </div>
                  </section>
                  <!-- Contact list -->
                  <div class="contact-list">
                    <div class="contact" v-for="(user, index) in contacts" @click="changeContact(index)"  :class="activeContact === index ? 'hover' : ' ' " @mouseover="hover">
                        <img class="avatar" :src="`img/avatar${user.avatar}.jpg`" alt="user.name">
                        <div class="text-side-chat">
                            <h4>{{user.name}}</h4>
                            <span>Ultimo messaggio</span>
                        </div>
                        <div class="hour">
                            <p>12:00</p>
                        </div>
                    </div>
                  </div>
            </div>
            <!-- Main chat -->
            <div class="main-chat">
                <!-- Header -->
                <div class="header">
                    <div class="user">
                        <img
                          class="avatar"
                          :src="`img/avatar${contacts[activeContact].avatar}.jpg`"
                          alt="User avatar"
                        />
                        <div class="user-text">
                          <h3>{{ contacts[activeContact].name }}</h3>
                          <span>Ultimo accesso</span>
                        </div>
                      </div>
                      <div class="icon">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                      </div>
                </div>
                <!-- Messages -->
                <section class="messages-section">
                    <!-- Single Message -->
                    <div v-for="(messageObj, index) in contacts[activeContact].messages"
                    class="message"
                    :class="`${messageObj.status}`"
                    >
                    <div class="message-box">
                        <div class="message-text">{{ messageObj.message }}</div>
                        <div class="message-time">
                        <small> {{ messageObj.date }} </small>
                        </div>
                    </div>
                    </div>
                    <!-- /Single Message -->
                </section>
                <!-- Keyboard -->
                <div class="keyboard">
                    <div class="icon">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                        <div class="new-message">
                            <input type="text" v-model.trim="newMessage" @keyup.enter="addMessage">
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>